
.tab{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0em 0.5em;
  font-size: 1.2em;
}

.tab button{
    padding: 0.5em 1em;
    border-radius: 1em;
    font-size: 0.8em;
    background: red;
}
.tab button:hover{
    padding: 0.5em 1em;
    border-radius: 1em;
    background: #500505;
}

.card{
    width: 80%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

.abc{
    display: flex;
    justify-content: right;
    color: red;
}

.carttop{
    display: flex;
    justify-content: center;
}

.hed{
    display: flex;
    justify-content: center;
    border-radius: 1em;
    background: #00000072;
    padding: 0.5em;
    height: 2.5em;
    font-size: 1.5em;
}

.cardwrap{
    background: #00000099;
    height: 12em;
    width: 10em;
    padding: 0.5em;
    margin: auto;
    justify-content: center;
    border-radius: 1em;
}

.btn button{
    padding: 0.3em 0.5em;
    background: blue;
    font-size: 0.7em;
    border-radius: 0.5em;
    margin: 1em;
}

.btn button:hover{
    background: #020686;
}

.grt{
    color: red;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 1em;
    background: #00000072;
    padding: 0.5em;
    width: 34%;
}

